<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body>
<h1>Welcome!</h1>
<h1>products</h1>
<form action='/bag' method='POST'>
    <input id = 'user_id' type = 'text' name = 'user_id' value = {{i}}>환영합니다<br><br>
    <label for='product1'><h2>디퓨저</h2></label><br>
    <h3>미니 디퓨저로, 차량이나 사무실 등 다양한 곳에 놓을 수 있는 제품입니다.</h3><br>
    <h4>price : 5000</h4><br>
    <h4>갯수</h4><br>
    <input id='product1_number' type='text' name='number1' value='0'><br><br>

    <label for='product2'><h2>라이언인형</h2></label><br>
    <h3>여자친구에게 선물하기 딱 좋은, 그런 인형입니다.</h3><br>
    <h4>price : 4000</h4><br>
    <h4>갯수</h4><br>
    <input id='product2_number' type='text' name='number2' value='0'><br><br>

    <label for='product3'><h2>무드등</h2></label><br>
    <h3>사무실이나 어두운 방을 밝게! 자취생들을 위한 아이템 무드등입니다.</h3><br>
    <h4>price : 6000</h4><br>
    <h4>갯수</h4><br>
    <input id='product3_number' type='text' name='number3' value='0'><br><br>
    
    <label for='product1'><h2>수면양말</h2></label><br>
    <h3>요즘 잠 안오는 분들을 위한 필수 아이템! 신고만 있어도 잠이 솔솔</h3><br>
    <h4>price : 3000</h4><br>
    <h4>갯수</h4><br>
    <input id='product4_number' type='text' name='number4' value='0'><br><br>

    <input type='submit' name='send' value='장바구니 담기'>
</form>
</body>
</html>